{{!--Partial for main text--}}
<div class="container main-text">
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, provident.</p>
    <p>Lorem ipsum dolor sit.</p>
</div>
